<<<<<<< HEAD

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Just Tech News</title>
  <link rel="stylesheet" href="/assets/stylesheets/style.css">
</head>
<main>
    <div class="wrap">
      {{{ body }}}
    </main>

    <h1>
   <a>THIS IS THE HOMEPAGE ENDPOINT</a>
    </h1>
</body>
</html>
=======
<div class="d-flex space-between">
  <div class="card w-50" style="background-color: #FEFEFE;">
    <h3 class="card-header text-uppercase text-center">Our Mission</h3>
    <div class="card-body text-white">
      <btn class="fw-bold fst-italic">START THE QUIZ </btn>
    </div>
  </div>

  <div class="card w-50" style="background-color: #31343c;">
    <h3 class="card-header text-uppercase text-center">Explore</h3>
    <div class="card-body text-center">
      <span ><i class="fas fa-globe-americas fa-7x"></i></span>
      <div class="d-grid gap-2 col-6 mx-auto">
        <a href="./events/all" class="btn btn-primary btn-lg" role="button">All Events</a>
        {{#unless loggedIn}}
        <a class="btn btn-primary btn-lg" href="/signup" role="button">Sign Up</a>
        {{/unless}}
      </div>
    </div>
  </div>
</div>
>>>>>>> 4903975837b773fadee556d9cb379c0b873097c5
