
<div class="d-flex space-between">

  <div class="card w-50" style="background-color: #31343c;">
    <div class="card-body text-center">
      <span ><i class="fas fa-globe-americas fa-7x"></i></span>
      <div class="d-grid gap-2 col-6 mx-auto">
        {{#unless loggedIn}}
        <a class="btn btn-primary btn-lg" href="/quiz" role="button">Start the Quiz</a>
        {{/unless}}
      </div>
    </div>
  </div>
</div>
