<div class="row">
  <div class="col-sm-12 d-flex justify-content-center">

<!-- we have our login form here -->
<form class="login-form">
  <div class="user-log-sec" >
    <label for="username-login">username</label>
    <input type="text" id="username-login" />
  </div>
  <div class="pass-sec">
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div class="btn-sec d-flex justify-content-end">
    <button class="btn btn-info" type="submit">login</button>
  </div>
</form>

<!-- and we have a sign up form here -->

<form class="signup-form">
  <div class="user-sign-sec">
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div class="pass">
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div class="submit-sgn d-flex justify-content-end">
    <button class="btn btn-primary" type="submit">signup</button>
  </div>
</form>
 </div>
</div>

<script src="/assets/js/login.js"></script>