<div class="Ques-sec">
{{#each questions as |question|}}
<ul>
    <h2>{{question.question}}</h2>
    {{#each question.options as |option|}}
    <p class="btn btn-info" role="button">{{option.option}}</p>
    {{/each}}
</ul>
{{/each}}

<a href="/results" class="btn btn-primary btn-lg" role="button">Find out!</a>