

    <h1>
   <a>THIS IS THE HOMEPAGE ENDPOINT</a>
    </h1>
<div class="Ques-sec">
{{#each questions as |question|}}
<ul>
    {{question.question}}
    {{#each question.options as |option|}}
    <li>{{option.option}}</li>
    {{/each}}
</ul>
{{/each}}

<<<<<<< H


<!-->{{#each options as |option|}}
<li>
    <p>{{option.option}}</p>
</li>
{{/each}}<!-->
=======

>>>>>>> 4903975837b773fadee556d9cb379c0b873097c5
